.index-title {
	color: white !important;
	font-size: 1.4em;
	font-weight: 700;
	text-decoration: none;
}

.cv-title {
	margin-top: 20px;
    font-weight: 500;
}

.justify-text {
	text-align: justify;
}

.fw-600 {
	font-weight: 600 !important;
}

.carousel-image {
	min-height: 400px;
	object-fit: cover;
}

.color-b {
	color: #1b1e21;
}

.logo-header {
	width: 50px;
	height: 50px;
}

.input-no-borders {
	border: none;
	background: transparent;
	color: white;
	border-bottom: white 0.5px solid;
	border-radius: 0;
}

.input-no-borders::placeholder {
	color: white;
}

.input-no-borders:focus {
	background: transparent;
	border: none;
	color: white;
	border-bottom: white 2px solid;
}

.timepicker:before {
	content: 'Call Time: ';
	margin-right:.6em;
	color:#9d9d9d;
}

option {
	color: darkblue;
}