{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div id="tm-preloader-in">
            <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <!-- End Preloader -->

    {% include 'default/header1.html.twig' %}

    <!-- Start Blog Header -->
    <section class="tm-blog-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tm-blog-hero-title">Dr Fares Seffen</h1>
                    <ul class="tm-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li>Dr Fares Seffen</li>
                    </ul>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Blog Header -->

    <!-- Start Site Content -->
    <div class="container mb-5">
        <div class="row justify-content-center p-5">
            <div class="col-lg-5 col-md-8">
                <img src="{{ asset('assets/img/doctors/drfares.jpg') }}" alt="">
            </div>
            <div class="col-lg-7 col-md-10">
                <h2>Dr Fares Seffen</h2>
                <h4 class="cv-title">Médecine morphologique | traitement de la calvite et restauration capillaire</h4>
                <p>Le Docteur Fares Seffen est reconnu auprès du conseil national de l’ordre des médecins de Tunis sous le numéro 19953,
                    il est titulaire du Diplôme Interuniversitaire français de médecine morphologique
                    et du Diplôme Interuniversitaire Européen de traitement de la calvitie (obtenu à l’université Claude Bernard Lyon 2 , France ) .</p>

                <h4 class="cv-title">Qualifications</h4>

                <ul>
                    <li>Diplôme d’état de la faculté de médecine de Sousse Inscrit au conseil national de l’ordre des médecins Tunisiens (n° 19953)</li>
                    <li>Diplôme interuniversitaire européen en traitement de la calvitie. Lyon - France</li>
                    <li>Diplôme interuniversitaire en médecine morphologique et anti-âge (Paris XII) - France</li>
                    <li>Ancien Stagiaire dans des cliniques privées de greffe capillaire à Lyon - France, Hasselt-Belgique</li>
                    <li>Médecin en chef au sein du centre de greffe capillaire « Jugurtha » à Tunis depuis 2012.</li>
                    <li>Ancien interne des hôpitaux de Tunis.</li>
                </ul>
            </div>
        </div>
        <div class="row pl-5">
            <h4 class="cv-title col-10"></h4>
            <ul class="col-10">
                <li>Après avoir pratiqué ses premières interventions auprès des plus éminents spécialistes du domaine en France, en Belgique et en Turquie , et de retour en Tunisie , le Dr Seffen ouvre sa clinique entièrement dédiée au traitements de la calvitie et à la restauration capillaire et forme son équipe d’assistantes médicales aux différentes technique de greffe capillaire .</li>
                <li>Dr Seffen participe activement et plusieurs fois par an aux différentes manifestations et workshops de l’ISHRS (International Society of Hair Restoration Surgery), de la World FUE Institute ainsi de la  European FUE Society dont il est membre et veille à équiper sa clinique des équipements les plus récents et de l’instrumentation de pointe qui est traditionnellement présentée lors de ces congrès.</li>
            </ul>
        </div>
        <div class="row pl-5">
            <h4 class="cv-title col-10">Les « + » de la clinique du Dr Seffen </h4>
            <ul class="col-10">
                <li>Staff médical Polyglotte (arabe, français, anglais, italien).</li>
                <li>bloc opératoire doté d’un matériel de pointe, une salle blanche, agréée pour les interventions sous anesthésie locale.</li>
                <li>Le patient bénéficie d’une salle de repos avec télévision, W.C privative, wifi et coffre-fort. Le déjeuner est de même servi dans cette salle. </li>
                <li>A proximité des meilleurs hôtels de la ville (Movenpick Tunis, hôtel concorde, hôtel paris, hotel le corail)</li>
                <li>Spécialités : FUT – FUE – BHT – greffe sur cicatrices et brûlures – PRP</li>
            </ul>
        </div>
    </div>
    <!-- End Site Content -->

    {% include 'default/footer.html.twig' %}

    <!-- Scroll Up -->
    <div id='scrollup'></div>
{% endblock %}