{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div id="tm-preloader-in">
            <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <!-- End Preloader -->

    {% include 'default/header1.html.twig' %}

    <!-- Start Blog Header -->
    <section class="tm-blog-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tm-blog-hero-title">DR. TAHAR DJEMAL</h1>
                    <ul class="tm-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li>Dr Tahar Djemal</li>
                    </ul>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Blog Header -->

    <!-- Start Site Content -->
    <div class="container mb-5">
        <div class="row justify-content-center p-5">
            <div class="col-lg-5 col-md-8">
                <img src="{{ asset('assets/img/doctors/Dr-djemal.jpg') }}" alt="">
            </div>
            <div class="col-lg-7 col-md-10">
                <h2>Dr Tahar Djemal</h2>
                <h4 class="cv-title">Chirurgie plastique reconstructrice et esthétique</h4>
                <p>Chirurgien spécialiste en chirurgie plastique reconstructrice et esthétique.</p>
                <p>Président de l’association des chirurgiens plastiques de Tunisie.</p>
                <p>Il donne régulièrement des conférences dans les congrès nationaux et internationaux.</p>
                <p>Dr Djemal est inscrit à l’ordre des médecins www.ordre-medecins.org.tn sous le numéro : 5985.</p>

                <h4 class="cv-title">Qualifications</h4>

                <ul>
                    <li>1983 : Diplômé en Médecine Générale (Tunis)</li>
                    <li>1988 : Obtention du Diplôme de Spécialiste en Chirurgie Plastique et Esthétique et Maxillo Faciale</li>
                    <li>1990 : Diplômé du Collège Français de Chirurgie Plastique Paris</li>
                    <li>1990 : Diplômé en Chirurgie Plastique et Maxillo Faciale à l’Université de Médecine de Nancy</li>
                </ul>
            </div>
        </div>
        <div class="row pl-5">
            <h4 class="cv-title col-10">Formation pratique à l’étranger</h4>
            <ul class="col-10">
                <li>De 1990 à 1992 : Exercice de la chirurgie plastique à l’Hôpital Foch (Paris et Hôpital de Nancy.</li>
                <li>1994 : Pendant trois mois, exercice de la chirurgie plastique en clinique privée à Baltimore (USA).</li>
            </ul>
        </div>
        <div class="row pl-5">
            <h4 class="cv-title col-10">Expérience professionnelle</h4>
            <ul class="col-10">
                <li>
                    1992 : Ouverture d’un cabinet privé à Tunis.Les compétences et la grande expérience du Dr DJEMEL
                    couvrent tous les domaines de la chirurgie plastique (liposuccion, plastie mammaire, lifting, rhinoplastie,
                    implants capillaires…).Parallèlement aux opérations réalisées sur les patients tunisiens et étrangers
                    de son cabinet, le Dr DJEMEL consacre une journée par semaine à des opérations de reconstruction extrêmement
                    complexes dans les hôpitaux de Tunis.Grâce à ses compétences et à sa générosité, des centaines d’enfants et
                    d’adultes ayant eu une malformation congénitale,un accident ou une maladie retrouvent un visage ou un corps
                    qui leur permet de vivre normalement.
                </li>
            </ul>
        </div>
        <div class="row pl-5">
            <h4 class="cv-title col-10">Associations professionnelles</h4>
            <ul class="col-10">
                <li>De 1998 à 2004 : Secrétaire Général de l’Association des Chirurgiens Plastiques de Tunisie.</li>
                <li>Depuis 2004 : Président de l’Association des Chirurgiens Plastiques de Tunisie.
                    Membre de la Société Méditerranéenne de Chirurgie Plastique. Animation de cours et de conférences et
                    réalisation de démonstrations opératoires en Allemagne, Italie, Espagne, Portugal, Martinique et dans
                    les pays du Golfe.
                </li>
            </ul>
        </div>
    </div>
    <!-- End Site Content -->

    {% include 'default/footer.html.twig' %}

    <!-- Scroll Up -->
    <div id='scrollup'></div>
{% endblock %}