{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div id="tm-preloader-in">
            <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <!-- End Preloader -->

    {% include 'default/header1.html.twig' %}

    <!-- Start Blog Header -->
    <section class="tm-blog-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tm-blog-hero-title">RENDEZ-VOUS</h1>
                    <ul class="tm-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li>RENDEZ-VOUS</li>
                    </ul>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Blog Header -->

    <!-- Start Appointment Section -->
    <section class="tm-relative" id="appointment">
        <div class="tm-half-section-bg right">
            <img src="{{ asset('assets/img/appointment-bg.jpg') }}" alt="about hafl bg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 tm-hf-hide">
                    <div class="empty-space col-md-b0 col-xs-b70"></div>
                    <div class="tm-appointment-heading tm-gray-bg wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="tm-section-heading text-center">
                            <h2>RENDEZ-VOUS</h2>
                            <div class="tm-section-seperator"><span></span></div>
                            <p>Si vous souhaitez prendre rendez-vous pour une intervention médicale, remplissez simplement le formulaire avec des données valides et nous vous contacterons par téléphone pour confirmation.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-5">
                    <div class="empty-space col-md-b60 col-xs-b40"></div>
                    <form method="POST" action="http://thememarch.com/demo/html/medical/trustlife/assets/php/appointment.php" class="tm-appointment-form" id="appointment-form">
                        <div id="tm-alert1"></div>
                        <div class="tm-form-field">
                            <input type="text" id="uname" name="uname" placeholder="Prénom" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <input type="text" id="uname" name="uname" placeholder="Nom de famille" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <input type="text" id="uemail" name="uemail" placeholder="Adresse de messagerie" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <input type="text" id="unumber" name="unumber" placeholder="Numéro de mobile" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <input name="udate" type="text" id="udate" placeholder="Date de naissance">
                            <span class="bar"></span>
                            <div class="date-icon"><i class="fa fa-calendar"></i></div>
                        </div>
                        <div class="tm-form-field">
                            <div class="tm-custom-select-wrap">
                                <select name="civility" class="tm-custom-select" id="civility">
                                    <option value="Madame">Madame</option>
                                    <option value="Mademoiselle">Mademoiselle</option>
                                    <option value="Monsieur">Monsieur</option>
                                </select>
                            </div>
                        </div>
                        <div class="tm-form-field">
                            <input type="text" id="unumber" name="unumber" placeholder="Pays" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <div class="tm-custom-select-wrap">
                                <select name="udepartment" class="tm-custom-select" id="udepartment">
                                    <option value="L'intervention demandée">L'intervention demandée</option>
                                    <option value="Augmentation mammaire par prothèse mammaires rondes">
                                        Augmentation mammaire par prothèse mammaires rondes
                                    </option>
                                    <option value="Augmentation mammaire par prothèse mammaires anatomiques">
                                        Augmentation mammaire par prothèse mammaires anatomiques
                                    </option>
                                    <option value="Augmentation mammaire par lipofilling">
                                        Augmentation mammaire par lipofilling
                                    </option>
                                    <option value="Lifting mammaire">
                                        Lifting mammaire
                                    </option>
                                    <option value="Réduction mammaire">
                                        Réduction mammaire
                                    </option>
                                    <option value="Gynécomastie">
                                        Gynécomastie
                                    </option>
                                    <option value="Lifting mammaire avec prothèses">
                                        Lifting mammaire avec prothèses
                                    </option>
                                    <option value="Silouhette">
                                        Silouhette
                                    </option>
                                    <option value="Liposuccion une seule zone (ventre...)">
                                        Liposuccion une seule zone (ventre...)
                                    </option>
                                    <option value="Liposuccion sur une petite zone (double menton...)">
                                        Liposuccion sur une petite zone (double menton...)
                                    </option>
                                    <option value="Liposuccion double menton + mini lifting">
                                        Liposuccion double menton + mini lifting
                                    </option>
                                    <option value="Liposuccion moyenne (sur 3 zones et plus)">
                                        Liposuccion moyenne (sur 3 zones et plus)
                                    </option>
                                    <option value="Liposuccion complète (plus de 10 zones)">
                                        Liposuccion complète (plus de 10 zones)
                                    </option>
                                    <option value="Abdominoplastie">
                                        Abdominoplastie
                                    </option>
                                    <option value="Abdominoplastie + Liposuccion moyenne">
                                        Abdominoplastie + Liposuccion moyenne
                                    </option>
                                    <option value="Lifting des bras">
                                        Lifting des bras
                                    </option>
                                    <option value="Augmentation des fesses par implants fessiers">
                                        Augmentation des fesses par implants fessiers
                                    </option>
                                    <option value="Augmentation des fesses par lipofilling">
                                        Augmentation des fesses par lipofilling
                                    </option>
                                    <option value="Liposuccion moyenne + Lipofilling des seins">
                                        Liposuccion moyenne + Lipofilling des seins
                                    </option>
                                    <option value="Liposuccion moyenne + Lipofilling des fesses">
                                        Liposuccion moyenne + Lipofilling des fesses
                                    </option>
                                    <option value="Lifting des cuisses">
                                        Lifting des cuisses
                                    </option>
                                    <option value="Epilation Laser">
                                        Epilation Laser
                                    </option>
                                    <option value="Intime">
                                        Intime
                                    </option>
                                    <option value="Nymphoplastie (réduction des lèvres vaginale)">
                                        Nymphoplastie (réduction des lèvres vaginale)
                                    </option>
                                    <option value="Pénoplastie d'élargissement (élargissement du pénis)">
                                        Pénoplastie d'élargissement (élargissement du pénis)
                                    </option>
                                    <option value="Pénoplastie d'allongement (allongement du pénis)">
                                        Pénoplastie d'allongement (allongement du pénis)
                                    </option>
                                    <option value="Visage">
                                        Visage
                                    </option>
                                    <option value="Lifting cervico-facial">
                                        Lifting cervico-facial
                                    </option>
                                    <option value="Lifting malaire">
                                        Lifting malaire
                                    </option>
                                    <option value="Lifting frontal">
                                        Lifting frontal
                                    </option>
                                    <option value="Lifting complet">
                                        Lifting complet
                                    </option>
                                    <option value="Lipofilling du visage">
                                        Lipofilling du visage
                                    </option>
                                    <option value="Rhinoplastie simple">
                                        Rhinoplastie simple
                                    </option>
                                    <option value="Rhinoplastie et septoplastie">
                                        Rhinoplastie et septoplastie
                                    </option>
                                    <option value="Rhinoplastie ethnique">
                                        Rhinoplastie ethnique
                                    </option>
                                    <option value="Blépharoplastie 2 paupiéres">
                                        Blépharoplastie 2 paupiéres
                                    </option>
                                    <option value="Blépharoplastie 4 paupiéres">
                                        Blépharoplastie 4 paupiéres
                                    </option>
                                    <option value="L'implant capillaire par FUE">
                                        L'implant capillaire par FUE
                                    </option>
                                    <option value="Génioplastie">
                                        Génioplastie
                                    </option>
                                    <option value="Génioplastie d'avancement">
                                        Génioplastie d'avancement
                                    </option>
                                    <option value="Otoplastie">
                                        Otoplastie
                                    </option>
                                    <option value="Augmentation des lèvres">
                                        Augmentation des lèvres
                                    </option>
                                    <option value="Orthopédique">
                                        Orthopédique
                                    </option>
                                    <option value="Prothèse totale du genou">
                                        Prothèse totale du genou
                                    </option>
                                    <option value="Hernie discale">
                                        Hernie discale
                                    </option>
                                    <option value="Prothèse totale de la hanche">
                                        Prothèse totale de la hanche
                                    </option>
                                    <option value="Hallux Valgus">
                                        Hallux Valgus
                                    </option>
                                    <option value="Syndrome du canal carpien">
                                        Syndrome du canal carpien
                                    </option>
                                    <option value="Obésité">
                                        Obésité
                                    </option>
                                    <option value="Anneau gastrique">
                                        Anneau gastrique
                                    </option>
                                    <option value="Sleeve gastrectomie">
                                        Sleeve gastrectomie
                                    </option>
                                    <option value="Bypass">
                                        Bypass
                                    </option>
                                    <option value="Traitement d'infertilité">
                                        Traitement d'infertilité
                                    </option>
                                    <option value="Insémination artificielle">
                                        Insémination artificielle
                                    </option>
                                    <option value="Fécondation in vitro">
                                        Fécondation in vitro
                                    </option>
                                    <option value="Biopsie testiculaire">
                                        Biopsie testiculaire
                                    </option>
                                    <option value="Dentaire">
                                        Dentaire
                                    </option>
                                    <option value="Implant dentaire">
                                        Implant dentaire
                                    </option>
                                    <option value="Pose de facette dentaire">
                                        Pose de facette dentaire
                                    </option>
                                    <option value="Blanchiment dentaire">
                                        Blanchiment dentaire
                                    </option>
                                    <option value="Yeux et Ophtamologie">
                                        Yeux et Ophtamologie
                                    </option>
                                    <option value="Lasik (les 2 yeux)">
                                        Lasik (les 2 yeux)
                                    </option>
                                    <option value="Laser PKR (les 2 yeux)">
                                        Laser PKR (les 2 yeux)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="tm-form-field">
                            <input type="text" id="unumber" name="unumber" placeholder="Horaire de rappel" required>
                            <span class="bar"></span>
                        </div>
                        <div class="tm-form-field">
                            <div class="tm-custom-select-wrap">
                                <select name="udoctor" class="tm-custom-select" id="udoctor">
                                    <option value="doctor">Moyen de rappel</option>
                                    <option value="jhon-doe">Téléphone</option>
                                    <option value="mak-rushi">What's app</option>
                                    <option value="mohoshin-kabir">Viber</option>
                                    <option value="nayon-borua">Facebook</option>
                                </select>
                            </div>
                        </div>
                        <div class="tm-form-field">
                            <textarea cols="30" rows="10" id="umsg" name="umsg" placeholder="Commentaires"></textarea>
                            <span class="bar"></span>
                        </div>
                        <div class="empty-space col-xs-b10"></div>
                        <div class="tm-form-field">
                            <button class="tm-btn1 tm-reverse" type="submit" id="appointment-submit" name="submit">Envoyer</button>
                        </div>
                    </form>
                    <div class="empty-space col-md-b60 col-xs-b70"></div>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Appointment Section -->

    {% include 'default/footer.html.twig' %}

    <!-- Scroll Up -->
    <div id='scrollup'></div>
{% endblock %}