<!-- Start Footer -->
<footer class="tm-overflow-hidden">
    <div class="tm-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tm-footer-social">
                        <h2>Suivez nous</h2>
                        <div class="tm-footer-social-list">
                            <a href="#" class="tm-social-btn blue">
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#" class="tm-social-btn blue">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div><!-- .col -->
            </div>
        </div>
    </div>
    <div class="tm-site-footer">
        <div class="container"><!-- row-md-reverce -->
            <div class="row row-sm-reverce">
                <div class="col-md-7 col-lg-8">
                    <p class="tm-copyright">Copyright © 2019 Eshter.</p>
                </div><!-- .col -->
                <div class="col-md-5 col-lg-4">
                    <div class="tm-footer-hotline">
                        <div class="tm-footer-hotline-in">
                            <div class="tm-phone-icon"><i class="fa fa-mobile"></i></div>
                            <p>+216 54388569</p>
                        </div>
                    </div>
                </div><!-- .col -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->