{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div id="tm-preloader-in">
            <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <!-- End Preloader -->

    {% include 'default/header1.html.twig' %}

    <!-- Start Blog Header -->
    <section class="tm-blog-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tm-blog-hero-title">Blog</h1>
                    <ul class="tm-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Blog Header -->

    <!-- Start Site Content -->
    <div class="tm-blog-section tm-blog-right-sidebar">
        <div class="empty-space col-md-b100 col-xs-b70"></div>
        <div class="container">
            <div class="row">
                <main class="col-xl-12">
                    <div class="tm-site-main">
                        <article class="tm-post">
                            <header class="tm-entry-header">
                                <div class="tm-post-thumb row justify-content-center">
                                    <img src="{{ asset('assets/img/blog/Design-7.png') }}" alt="">
                                </div>
                                <div class="tm-post-details-wrap pt-5">
                                    <h2 class="tm-entry-title">Ishtar Assistance : Leader dans la chirurgie esthétique en Tunisie</h2>
                                </div>
                            </header>
                            <div class="tm-entry-content">
                                <div class="pt-5">
                                    <h4>Ishtar Assistance : Leader dans la chirurgie esthétique en Tunisie</h4>
                                    Depuis sa création, Ishtar Assistance a fait des succès énormes dans le monde de la chirurgie
                                    esthétique en attirant les patients, surtout européens. Ces succès lui ont permis d’être
                                    le leader en Tunisie. Découvrons ensemble les raisons de ces gloires.
                                </div>
                                <div class="pt-5">
                                    <h4>La Tunisie : une destination touristique pour toujours</h4>
                                    Depuis des années, la Tunisie a été toujours considérée comme étant une destination touristique
                                    préférée pour plusieurs touristes européens ou bien arabes. En effet, La Tunisie est connue par
                                    son climat méditerranéen et son super emplacement géographique. Ainsi, les richesses naturelles
                                    comme les plages ou les beaux oasis ont fait de ce pays un paradis sur terre. Par ailleurs, elle
                                    a connu des années glorieuses dans le tourisme à travers la qualité de services et ses low-cost.
                                </div>
                                <div class="pt-5">
                                    <h4>Comment Ishtar Assistance a investi dans le tourisme médical ?</h4>
                                    Grâce à l’intelligence du gérant de ce merveilleux centre, un investissement a été fait dans le
                                    tourisme médical/esthétique. En outre, l’idée c’est de permettre aux patients de profiter des
                                    hautes qualités des interventions esthétiques. En plus, pourquoi ne pas se jouir d’un agréable
                                    séjour et profiter du beau temps de la Tunisie. Par ailleurs, une chirurgie esthétique accompagnée
                                    par un séjour reste toujours moins coûteuse qu’une intervention à Paris par exemple.
                                    Dans ces conditions, il ne faut pas réfléchir 2 fois et hésiter avant de choisir cette opportunité !
                                </div>
                                <div class="pt-5">
                                    <h4>Où passer son séjour ?</h4>
                                    Hotel Sidi Bou Saïd est situé en haut de la colline de Sidi Bou Said. L’hôtel est partiellement
                                    rénové, dans un cadre enchanteur et relaxant reflétant superbement l’architecture de la tradition
                                    du pays.  A 18 km de l’aéroport International de Tunis-Carthage, à 128 Km de celui d’Enfidha,
                                    à quelques mètres de Sidi Bou Saïd, de Carthage et de la ville de la Marsa, à 20 km du centre
                                    ville de Tunis, capitale moderne et animée aux centres d’intérêt multiples, à 3 km du théâtre
                                    Romain de Carthage et à 22 km du Musée de Bardo .
                                </div>
                                <div class="pt-5">
                                    <h4>La rencontre de la modernité avec l’antiquité !</h4>
                                    Les côtes de Carthage étendent leurs baies turquoise depuis les ruines de la cité antique jusqu’à
                                    Gammarth. Une nouvelle zone hôtelière luxueuse avec un golf à 1 km de l’hôtel, fondée par les
                                    phéniciens puis reconstruite par les romains. La cité antique a laissé de nombreux et
                                    impressionnants vestiges dressés face à la mer, accueille les promeneurs entre les maisons
                                    aux moucharabiehs bleus et les bougainvilliers.
                                    <p>L’hôtel Sidi Bou Said convient aussi bien pour les séjours de détente que pour les vacances à la mer.</p>
                                    <p>
                                        Vous ne regretterez certainement pas votre décision quand vous allez choisir ce centre
                                        médical et esthétique comme destination. Vous profiterez des interventions chirurgicales
                                        combinées à un séjour de repos et de détente.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Chez Ishtar Assistance, les chirurgiens sont un patrimoine</h4>
                                    <p>
                                        Pour répondre à vos besoins d’avoir un corps de rêves, cette grande société a pu attirer les
                                        meilleurs chirurgiens en Tunisie. En effet, ils sont d’une notoriété incontestable.
                                    </p>
                                    <p>
                                        Les chirurgiens dans ce centre esthétique sont toujours à proximité des patients.
                                        Ceci est traduit à travers l’encadrement lors des premiers rendez-vous, ensuite
                                        à travers les conseils et le suivi après l’intervention. En plus, ils sont diplômés
                                        de grandes écoles européennes, notamment les écoles françaises. Ces chirurgiens
                                        ont suffisamment de l’expérience et de l’expertise qu’ils ont pu gagner la confiance
                                        des patients.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Partenariat avec des cliniques dotées d’une technologie de pointe</h4>
                                    <p>
                                        Le succès d’un travail est basé dans une grande partie sur les moyens de bord.
                                        Par ailleurs, le succès des chirurgiens est basé, en plus de leurs expertises,
                                        sur les équipements et le matériel. Les cliniques sont équipées avec du matériel
                                        neuf et moderne, il représente les dernières innovations dans le domaine de l’esthétique.
                                        En effet, le choix était fait par une équipe de spécialiste dans l’approvisionnement
                                        médical suivant des normes strictes.
                                    </p>
                                    <p>
                                        En outre, les chambres sont aussi toutes neuves, bien aménagées et bien équipées
                                        avec tous les moyens du confort. Pour répondre aux besoins des patients,
                                        les chambres d’hospitalisation de la clinique sont : individuelles, Conforts, Suites ou VIP.
                                    </p>
                                    <p>
                                        Géographiquement, elles sont à El Menzah et au Lac 2 qui sont deux endroits d’agglomération médicale :
                                        à 10 minutes de l’Aéroport.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Manières de booster votre beauté sans dépenser plus d’argent</h4>
                                    <p>
                                        Cette société tunisienne applique une stratégie de prix que ses patients ont trouvé très concurrentielle.
                                        En effet, ses prix moins chères que les cliniques en Europe, d’une valeur allant jusqu’à -50% à -70%.
                                        Si vous choisissiez Ishtar Assistance, vous allez faire des économies importantes.
                                    </p>
                                    <p>
                                        En plus,  avec ces prix vous aurez la possibilité de passer un séjour inoubliable dans l’un
                                        des magnifiques hôtels. Vous serez satisfaits et remboursés puisqu’avec les tarifs vous
                                        permettront d’avoir une offre 2en1 : esthétique avec du tourisme!
                                    </p>
                                    <p>
                                        Au final, la société est un symbole de transparence. D’ailleurs vous aurez toutes les
                                        informations nécessaires sur les tarifs appuyées par des factures minutieusement détaillées.
                                    </p>
                                    <p>
                                        Ne vous faites pas d’inquiétudes, votre confiance est leur objectif.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Ishtar Assistance : la pratique d’une procédure simple et efficace pour répondre à vos besoins</h4>
                                    <p>
                                        Le système d’information chez Ishtar Assistance est le management de la performance.
                                        Cette magnifique entreprise considère que la bonne circulation de l’information est un
                                        élément clef pour sa réussite. De ce fait, l’information est au cœur de son système de gestion.
                                    </p>
                                    <p>
                                        L’administration a mis en place un système d’information basée sur une procédure bien détaillée.
                                        En effet, cette procédure permet de décrire en détail l’ensemble des actions réalisées
                                        au sein de cet organisme.
                                    </p>
                                    <p>
                                        Si Ishtar Assistance a pris le leadership dans son domaine, c’est grâce à ce processus qui
                                        garantit la fluidité de l’information et qui décrit le « qui fait quoi » avec précision.
                                        Pour nous, il est le facteur d’innovation, d’adaptabilité, d’implication et de motivation,
                                        d’efficacité collective et personnelle.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>C’est quoi leur procédure ?</h4>
                                    <p>
                                        La procédure se définie comme étant le Processus suivi pour conduire une expérience,
                                        succession d’opérations à exécuter pour accomplir une tâche déterminée. Leur tâche déterminée
                                        est la satisfaction de leurs patients.
                                    </p>
                                    <p>
                                        Par ailleurs, l’entreprise a compris qu’elle doit échanger avec ses patients ou futurs patients
                                        pour être le plus proche d’eux. C’est pour cette raison qu’elle met à votre disposition
                                        un site internet, un e-mail, un numéro de téléphone.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Quelles sont les autres étapes ?</h4>
                                    <p>Le déclenchement de la procédure commence dès le premier contact,
                                        via l’un des moyens mentionnés ci-dessus, ou bien Facebook. Puisque l’échange et l’interaction
                                        sont primordiaux, Ishtar assistance a mis à la disposition des internautes une page Facebook
                                        pour contacter et adresser vos demandes.
                                    </p>
                                    <p>
                                        En effet, la deuxième étape consiste dans  l’envoi de l’offre de soins et de prise en charge ;
                                        nous vous enverront tous les détails nécessaires sur l’intervention ainsi que le séjour.
                                        Après l’accord du patient, nous planifions votre arrivée ; Une fois votre billet d’avion acheté,
                                        nous déterminons les dates et modalités de votre séjour. La quatrième étape c’est l’arrivée et le transport ;
                                        dès votre arrivée à l’aéroport, nous vous prenons en charge ainsi que vos proches.
                                    </p>
                                </div>
                                <div class="pt-5">
                                    <h4>Et Comment faire pour l’hospitalisation ?</h4>
                                    <p>
                                        Ensuite  l’hospitalisation ; Nos équipes veilleront à votre installation dans la clinique
                                        et faciliteront la partie administrative. Puis, après l’intervention, nous assurons que tout
                                        s’est parfaitement déroulé. Pour la suite de votre convalescence, un assistant vous
                                        accompagnera dans un hôtel prestigieux où règne luxe, calme et détente.
                                    </p>
                                    <p>
                                        A la fin de votre séjour médical, l’assistant vous accompagnera jusqu’à l’aéroport et s’assurera
                                        de votre embarquement. Au final, le suivi à distance ; dès votre retour à votre domicile vous
                                        disposez de tous les éléments de contact pour faire part de vos remarques ou de vos questions.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <div class="empty-space col-md-b60 col-xs-b30"></div>
                    </div>
                </main>
            </div>
        </div>
        <div class="empty-space col-md-b100 col-xs-b70"></div>
    </div>
    <!-- End Site Content -->

    {% include 'default/footer.html.twig' %}

    <!-- Scroll Up -->
    <div id='scrollup'></div>
{% endblock %}